@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@100&family=Roboto+Condensed&family=Roboto:wght@300&family=Signika:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika';
}

body{
    background-color: #cfcece;
    text-align: center;
}

.heading{
    font-size: 500%;
    margin-top: 25px;
}





.parts{
    display: flex;
    justify-content: space-around;
    margin-top: 2vw;
    align-items: center;
}

.button1{
    background-color: black;
    width: 32vw;    
    padding: 1vw;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.button-img{
    width: 30vw;
    height: 30vw;
}

.button1:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.wide{
    margin-top: 0.5vw;
    width: 30vw;
    background-color: #cfcece;
}

.button-text{
    font-size: 270%;
}




.more{
    background-color: black;
    padding: 0.63vw;
}

.more-btn{
    width: 10vw;
    height: 10vw;
    background-color: #cfcece;
    font-weight: bolder;
    font-size: 220%;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.more:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.more-btn:hover{
    cursor: pointer;
}