*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}

body{
    background-color:black;
}

.main-grid{
    /* background-color: black; */
    margin-top: 200px;
    margin-left: 200px;
}

.cell{
    width: 100px;
    height: 100px;
    font-size: 400%;
    font-weight: bolder;
    border: none;
    margin-top: 3px;
    border-radius: 5px;
}

.result{
    background-color: beige;
    margin-left: 200px;
    margin-top: 100px;
    width: fit-content;
}

.p1score,.p2score{
    width: 200px;
    font-size: 200%;
    color: aliceblue;
    text-align: center;
}

.p1score{
    border: solid 10px red;
}

.p2score{
    border: solid 10px green;
    margin-top: 30px;
}

.align{
    display: flex;
    justify-content: start;
    align-items: center;
}

.align1{
    margin-top: 200px;
    margin-left: 200px;
}